
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>BeautyChat! (Add New Article)</h1>

<p><a href="/homepage">Homepage</a></p>

<form method="POST" action="/addArticle">
  <fieldset>
  <legend>New Article Information:</legend>
  <br>User ID:<br>
  <input type="text" name="users_id">
  <br>
  Article Text:<br>
<input type="text" name="article_text">
  <br>
  Image URL:<br>
  <input type="text" name="article_image_url">
  <br>

  <input type="submit" value="Submit/Add">
</fieldset>
</form> 

</body>


</html>

