<html>
<head>
	<title>user info</title>
</head>
<body>
	<h1>Check your information</h1>
	<div align="center" style="color:#00FF00"><a href="/comeback">Your Home Page</a></div>
	<table>
		<thead>
			<th>User_ID</th>
			<th>User_Name</th>
			<th>User_telephone</th>	
			<th>User_Birthday</th>		
		</thead>
		<tbody>
			{% for u in user %}
			<tr>
				<td>{{ u.ID }}</td>
				<td>{{ u.name }}</td>
				<td>{{ u.telephone }}</td>
				<td>{{ u.birthday }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>